---
layout: layout.njk
title: "Josh Siegle - CV"
permalink: /index.html
cssPath: assets/styles.css
version: highlights
highlightsPath: index.html
completePath: complete/index.html
pdfPath: assets/Josh Siegle - CV (Highlights).pdf
pdfName: Josh Siegle - CV (Highlights).pdf
---
{% from "section.njk" import renderSection %}
{{ renderSection("Positions", cv.positions) }}
{{ renderSection("Education", cv.education) }}
{{ renderSection("Selected Publications", cv.publications.highlights) }}
{{ renderSection("Awards & Fellowships", cv.awards.highlights) }}
{{ renderSection("Teaching Experience", cv.teaching.highlights) }}
